html{
    background-color: grey;
}

header{
    text-align: center;
    font-size: 35px;
}

#photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.Intro{
    font-size: 20px;
    text-align: center;
}

#Go_to{
    text-align: center;
}

.list{
    text-align: center;
    display: inline-block;
    font-size: larger;
}

#Education{
    text-align: center;
    font-size: larger;
}

#Work_Experience{
    text-align: center;
    font-size: larger;
}

#Skills{
    text-align: center;
    font-size: larger;
}

#Achievements{
    text-align: center;
    font-size: larger;
}

#Projects{
    text-align: center;
    font-size: larger;
}